/* Agrega estos estilos a tu archivo de estilo (style.scss) */
.category-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    button {
        padding: 8px 16px;
        font-size: 14px;
        transition: background-color 4s ease; /* Añade una transición suave */
    }

    button.active {
        background-color: $color-primary;
    }
}


